# Data Files (Raw data is too large)
Train_*.csv

# Allowed Results
!analysis_output.xlsx
!Healthcare_Claims_Analysis.xlsx
!High_Risk_Providers.csv
!Master_Table.csv

# Python
__pycache__/
*.pyc

# System
.DS_Store
Thumbs.db
